@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Kosugi|Noto+Serif+JP&display=swap');
*{
  color: white;
  text-align: center;
  font-family: 'Noto Serif JP', serif;
}

.bg{
  min-height: 100vh;
  width: 100vw;
  background-color: #f9cb0f;
}

input{
  outline: none;
  border: none;
  background: none;
}
.input{
  border-bottom: 2px solid white;
}

li{
  list-style: none;
}

.word-form{
  font-size: 1.5rem;
  #word_name{
    font-size: 2rem;
  }
}

nav{
  .nav-item:hover{
    background-color: white;
  }
}

.idea-roulette{
  padding-top: 120px;
  border-bottom: solid 2px white;
  min-height: 320px;
  .word-box{
    width: 100%;
    min-height: 80px;
    border: solid 2px white;
    padding: 10px;
  }

  .x-image{
    height: 80px;
    padding: 10px;
  }
  .roulette-button-wrapper{
    width: 100%;
    height: 40px;
    padding: 20px;
  }
}



