@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Kosugi|Noto+Serif+JP&display=swap');
*{
  color: white;
  text-align: center;
  font-family: 'Noto Serif JP', serif;
}

.bg{
  min-height: 100vh;
  width: 100vw;
  background-color: #f9cb0f;
}

input{
  outline: none;
  border: none;
  background: none;
}
.input{
  border-bottom: 2px solid white;
}

li{
  list-style: none;
}

.word-form{
  font-size: 1.5rem;
  #word_name{
    font-size: 2rem;
  }
}

nav{
  .nav-item:hover{
    background-color: white;
  }
}

.idea-roulette{
  padding-top: 100px;
  border-bottom: solid 2px white;
  min-height: 300px;
  .word-box{
    width: 100%;
    min-height: 80px;
    border: solid 2px white;
    padding: 10px;
  }
  .x-image{
    height: 80px;
    padding: 10px;
  }
  .roulette-button-wrapper{
    width: 100%;
    height: 40px;
    padding: 20px;
  }
}

.idea-form-wrapper{
  width: 100%;
  border-right:solid 2px white;
  padding: 20px;
  .idea-form{
    margin-top: 30px;
    text-align: left;

  }
}

.user-info{
  width: 100%;
  height: 300px;
  text-align: left;
  padding: 50px;
  .user-image-wrapper{
    text-align: right;
    .user-image{
      width: 80px;
      height: 80px;
    }
  }
  .user-name{
    width: 80%;
    height: 80px;
    padding-top: 20px;
    font-size: 2rem;
    border-bottom: 2px solid white;
  }
}




